doctype html 
html 
  head
  body
    h1 Cowsay page
    form#post-form(method='post')
      .form-info-eyes
        label
          | Eyes
          input(type='text', name='eyes', required)
      .form-info-tongue
        label
          | Tongue
          input(type='text', name='tongue', required)
      .form-info-text
        label
          | Text
          input(type='text', name='text', required)
      .form-button
        input(type='submit', value='Submit')
    pre=cow
